#canvas-container {
	display: block;
	position: absolute;
	width: 90%;
	height: 80%;

	margin: 3% 3%;
}

#color-grid {
	position: absolute;
	width: 400px;
	height: 400px;
	left: 50%;
	margin-left: -200px;
	z-index: 1000;
	background-color: rgba(30,30,30,.3);
	padding: 10px;
}